<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Cars</li>
        <li class="breadcrumb-item active" aria-current="page">List Car</li>
    </ol>
</nav>

<div class="row justify-content-between">
    <div class="col-4">
        <h3>Cars</h3>
    </div>
    <div class="col-4 btn-add">
        <a href="/cars/add" class="btn btn-primary">+ Add New Car</a>
    </div>
</div>

<div class="row justify-content-start mt-3">
    <div class="col-8">
        <a href="/cars"><button class="btn btn-outline-primary">All</button></a>
        <a href="/cars?filter=small"><button class="btn btn-outline-primary">Small</button></a>
        <a href="/cars?filter=medium"><button class="btn btn-outline-primary">Medium</button></a>
        <a href="/cars?filter=large"><button class="btn btn-outline-primary">Large</button></a>
    </div>
</div>

<div class="row mt-4">
    <% cars.forEach(car => { %>
    <div class="col-4 mt-3">
        <div class="card">
            <img src="assets/img/uploads/<%= car.foto %>" class="card-img-top"
                style="object-fit: cover; width: 341px; height: 240px;">
            <div class="card-body">
                <h6><%= car.nama  %></h6>
                <h5 class="card-title mt-3"><b>Rp <%= car.harga_sewa %> / hari</b></h5>
                <p class="card-text">Updated at <%= new Date(car.updatedAt).toLocaleDateString('id-ID', date) %></p>
                <h1><%= car.ukuran %></h1>
                <a href="/cars/delete/<%= car.id %>" onclick="return confirm('yakin mau hapus data ini?')"
                    class="btn btn-outline-danger btn-delete">
                    <i class="fa fa-trash"></i>
                    Delete</a>
                <a href="/cars/edit/<%= car.id %>" class="btn btn-success"> <i class="fa fa-edit"></i>
                    Edit</a>
            </div>
        </div>
    </div>
    <% }) %>
</div>